
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *::after {
    box-sizing: inherit;
}
body h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul { 
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}

header {
    padding: 50px 0px 0px 50px;
}

.wraper {
    padding: 70px 50px 50px 50px;
    display: flex;
    max-width: 1440px;
    height: 100%;

}

.container-left {
    width: 60%;
}

.picture-left {
    width: 100%;
}

.container-right {
    display: block;
    padding: 50px 0 0 50px;
    width: 40%;
}

.title-text {
    padding-right: 100px;
    font-weight: 500;
}

.text-desc {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    line-height: 25px;
    padding-top: 15px;
    padding-right: 60px;
}

.btn-register {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    border: 1px solid black ;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-text {
    color: hsl(257, 40%, 49%);
    padding: 0;
    margin: 0;
    font-weight: 500;
}
h1 {
    font-family: 'Poppins' , sans-serif;
    color: white;
    font-weight: 700;
}

footer {
    width: 100%;
    letter-spacing: 10px;
    padding: 0 90px 30px 0;
    text-align: center;
}
.icons {
    flex-direction: column;
    filter: invert(1);
}
@media screen and (max-width:800px) {
    header {
        padding: 50px 0 0 40px  ;
    }
    .wraper {
        display: block;
        padding: 0px;
    }

    .container-left {
        width: 100%;
    }
    .picture-left {
        width: 100%;
        margin-top: 100px;
        padding: 0px 20px 0 20px;
    }
    .container-right {
        width: 100%;
        display: grid;
        justify-items: center;
        padding: 0;
    }
    .title-text {
        padding: 100px 50px 20px 60px;
        text-align: center;
        font-weight: 600;
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .text-desc {
        text-align: center;
        padding: 0;
        font-size: 22px;
        line-height: 40px;
    }
    .icons {
        display: block;
        margin-top: 60px;
    }
    .btn-text {
        font-family: 'Open Sans',sans-serif;
        font-size: 20px;
    }
    .btn-register {
        width: 60%;
        height: 60px;
    }

    footer {
        padding: 0 10px 5px 0px;
    }
}
    @media screen and (max-width:388px) {
        .header-logo {
            width: 200px;
        }
    header {
        padding: 20px 50px 20px 20px;
    }
    .title-text {
        margin: 60px 0 20px;
        font-size: 30px;
    }
    .picture-left {
        margin-top: 40px;
    }
    body {
    background-image: url(./images/bg-mobile.svg);
    }
    .text-desc {
        line-height: 30px;
        padding: 0;
    }

    }
